@charset utf-8;
html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: #fff;
}

#slip {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #f33;
    color: #fff;
    text-align: center;
}

section.page {
    height: 100%;
    background-color: transparent;
}

section .invisibility {
    visibility: hidden;
}

#slip.anim {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.page {
    background-color: blue;
    font-size: 64px;
}

.music-btn {
    float: right;
    width: 1.8333333333333rem;
    height: 1.8333333333333rem;
    background: url('./asset/images/music-icon.png');
    background-size: cover;
    cursor: pointer;
}

.music-btn.on {
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
}

.media-wrap {
    overflow: hidden;
    position: fixed;
    top: 2.9166666666667rem;
    right: 1.375rem;
    z-index: 10000;
    width: 6.5em;
    height: 6.5em;
    font-size: 16px;
}

.media-wrap span {
    float: left;
    height: 4em;
    width: 4em;
    line-height: 3rem;
    color: #fff;
    font-size: 1em;
}

.media-wrap i {
    width: 2.5em;
    height: 2.5em;
}

@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}


/* Arrow */

#iSlider-arrow {
    position: absolute;
    width: 3em;
    height: 3em;
    left: 0;
    right: 0;
    bottom: 20%;
    margin: 0 auto;
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    z-index: 10000;
    opacity: 0.8;
    -webkit-animation: nextPage 1.2s linear infinite;
    cursor: pointer;
}

@-webkit-keyframes nextPage {
    0% {
        -webkit-transform: translateY(40px) rotate(-45deg);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(20px) rotate(-45deg);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(10px) rotate(-45deg);
        opacity: 0;
    }
}
#container {
	position: relative;
	height: 504px;
	width: 320px;
	background: #fff;
	margin: 100px auto;
	overflow:hidden;
}

#pptcontainer {
	position: relative;
	width: 368px;
	height: 733px;
	background: url('../images/iphone.png') no-repeat 0 0;
	overflow: hidden;
}
